<nav class="navbar navbar-default">

    <div class="navbar-global theme-default">
        <div class="container">
            <div class="navbar-header">
                <a href="http://www.oneoffixx.com" class="navbar-brand">
                    <img src="{{ site.baseurl }}/assets/content-images/logo.png" alt="OneOffixx" height="23" />
                </a>
            </div>

            <div class="navbar-header navbar-right">
                <a href="{{ site.baseurl }}/index-en" class="navbar-brand">
                    <i class="fa fa-globe" aria-hidden="true"></i> English
                </a>
            </div>
        </div>
    </div>


    <div class="navbar-local color-accent theme-dark">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#oo-docs-navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="glyph glyph-hamburger"></i>
                    </button>
                <a href="{{ site.baseurl }}/" class="navbar-brand">
                    <i class="fa fa-book" aria-hidden="true"></i> Docs
                </a>

            </div>
            <div class="collapse navbar-collapse" id="oo-docs-navigation">
                <ul class="nav navbar-nav">
                    <li class="{%if include.currentPermalink contains 'FirstSteps/'%}active{%endif%}"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Erste Schritte<i class="glyph glyph-chevron-down-2"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ site.baseurl }}/FirstSteps/de/OOStart">OneOffixx das erste Mal Starten</a></li>
                            <li><a href="{{ site.baseurl }}/FirstSteps/de/assistant">OneOffixx Einrichtungsassistent</a></li>
							<li><a href="{{ site.baseurl }}/FirstSteps/de/start">OneOffixx starten</a></li>
                         
<!-- Trennlinie
						 <li class="divider"></li>
                            <li><a href="{{ site.baseurl }}/FirstSteps/de/javascript">JS Scripting</a></li>
                            <li><a href="{{ site.baseurl }}/FirstSteps/de/uomf">Mapping</a></li>
							
							-->
                        </ul>
                    </li>
                    <li class="dropdown {%if include.currentPermalink contains 'User_Profile/'%}active{%endif%}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Benutzerdaten und Profile<i class="glyph glyph-chevron-down-2"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ site.baseurl }}/User_Profile/de/pipeline/">Pipeline</a></li>
                            <li><a href="{{ site.baseurl }}/User_Profile/de/inheritance/">Vererbungsystem</a></li>
                            <li><a href="{{ site.baseurl }}/User_Profile/de/versioncontrol/">Versionierung</a></li>
							<li><a href="{{ site.baseurl }}/User_Profile/de/subtemplates/">Untervorlagen</a></li>
                        </ul>
                    </li>
					<!--
                    <li class="{%if include.currentPermalink contains 'docfunc/'%}active{%endif%}">
                        <a class="color-type-secondary" href="{{ site.baseurl }}/docfunc/de/overview">Document Function</a>
                    </li>-->
                    <li class="dropdown {%if include.currentPermalink contains 'DocumentCreation/'%}active{%endif%}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">OneOffixx Dokumente erstellen<i class="glyph glyph-chevron-down-2"></i></a>
                        <ul class="dropdown-menu" role="menu">
                      <!--      <li><a href="{{ site.baseurl }}/connect/de/usage/">Aufruf</a></li>
                            <li class="divider"></li>-->
                            <li><a href="{{ site.baseurl }}/DocumentCreation/de/xml-schema/">XML Schema</a></li>
                            <li><a href="{{ site.baseurl }}/DocumentCreation/de/connect-arguments/">Arguments</a></li>
                            <li><a href="{{ site.baseurl }}/DocumentCreation/de/connect-functions/">Functions</a></li>
                            <li><a href="{{ site.baseurl }}/DocumentCreation/de/connect-commands/">Commands</a></li>
                            <li><a href="{{ site.baseurl }}/connect/de/usecases/">Anwendungsfälle</a></li>
                        </ul>
                    </li>
                    <li class="dropdown {%if include.currentPermalink contains 'DocumentEdit/'%}active{%endif%}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">OneOffixx Dokumente bearbeiten<i class="glyph glyph-chevron-down-2"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ site.baseurl }}/DocumentEdit/de/overview">Übersicht</a></li>
                            <li><a href="{{ site.baseurl }}/DocumentEdit/de/server">Server Installation</a></li>
                            <li><a href="{{ site.baseurl }}/DocumentEdit/de/client">Client Installation</a></li>
                            <li><a href="{{ site.baseurl }}/DocumentEdit/de/client-citrix-ts">Terminalserver Installation</a></li>
							<li><a href="{{ site.baseurl }}/DocumentEdit/de/sync-overview">Benutzersynchronisation</a></li>
                            <li><a href="{{ site.baseurl }}/DocumentEdit/de/releasenotes">Releasenotes</a></li>
                        </ul>
                    </li>
					  <li class="dropdown {%if include.currentPermalink contains 'Snippets/'%}active{%endif%}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Textbausteine<i class="glyph glyph-chevron-down-2"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ site.baseurl }}/Snippets/de/overview">Übersicht</a></li>
                            <li><a href="{{ site.baseurl }}/Snippets/de/server">Server Installation</a></li>
                            <li><a href="{{ site.baseurl }}/Snippets/de/client">Client Installation</a></li>
                            <li><a href="{{ site.baseurl }}/Snippets/de/client-citrix-ts">Terminalserver Installation</a></li>
							<li><a href="{{ site.baseurl }}/Snippets/de/sync-overview">Benutzersynchronisation</a></li>
                            <li><a href="{{ site.baseurl }}/Snippets/de/releasenotes">Releasenotes</a></li>
                        </ul>
                    </li>
					  <li class="dropdown {%if include.currentPermalink contains 'Outlook/'%}active{%endif%}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Textbausteine<i class="glyph glyph-chevron-down-2"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ site.baseurl }}/Outlook/de/overview">Übersicht</a></li>
                            <li><a href="{{ site.baseurl }}/Outlook/de/server">Server Installation</a></li>
                            <li><a href="{{ site.baseurl }}/Outlook/de/client">Client Installation</a></li>
                            <li><a href="{{ site.baseurl }}/Outlook/de/client-citrix-ts">Terminalserver Installation</a></li>
							<li><a href="{{ site.baseurl }}/Outlook/de/sync-overview">Benutzersynchronisation</a></li>
                            <li><a href="{{ site.baseurl }}/Outlook/de/releasenotes">Releasenotes</a></li>
                        </ul>
                    </li>
					
                    <li>
                        <a class="color-type-secondary" href="http://oneoffixx.com/kontakt/">Kontakt</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</nav>
